@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-fundo1: #121214;
    --cor-fundo2: #178c48;
    --cor-white: #ecf0f1;
    --cor-fundo3: #0253a4;
}

html, body {
  height: 100vh;
  width: 100vw;
  background-color: var(--cor-fundo1);
}

body {
  background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

section#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 627px;
  width: 311px;
  background-color: var(--cor-fundo3);
  background: url('../imagens/frame-iphone.png') no-repeat center center;
}

iframe#tela {
  position: relative;
  top: 80px;
  left: 22px;
  width: 266px;
  height: 470px;
}

section#redes-sociais {
  text-align: right;
}
section#redes-sociais img {
  width: 60px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

section#redes-sociais img:hover {
  border: 2px solid var(--cor-white);
  transform: scale(1.1);
  transform: translate(-2px, -2px);
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}